<div class="marquee-container">
    <div class="marquee-content">
        {% assign sorted_wiki = site.wiki | sort: 'order' %}
        {% for page in sorted_wiki %}
        <a href="{{ page.url }}" class="marquee-item">
            <span class="marquee-dot">●</span>
            {{ page.title }}
        </a>
        {% endfor %}
        {% for page in sorted_wiki %}
        <a href="{{ page.url }}" class="marquee-item">
            <span class="marquee-dot">●</span>
            {{ page.title }}
        </a>
        {% endfor %}
    </div>
</div>

